body{
    background-color: #000000;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    margin: 0;
}
.text{
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    display:flex;
    justify-content: space-evenly;
    flex-direction: column;
    height:50vh;
    width:40vw;
    margin: 0 auto;
    text-align: center
}
button{
    background-color: #000000;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}
button:hover{
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
}
input,button{
    height:8vh;
    width:80%;
    margin:2vh auto;
}
.result{
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    display:flex;
    justify-content: space-evenly;
    flex-direction: column;
    height:50vh;
    width:40vw;
    margin: 0 auto;
    text-align: center;
    overflow: auto;
    height:30vh;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #f9f5f5;
}
p{
    border: 1px solid #ffffff;
    height:5vh;
    margin: 1em 0;
    background-color: #070707;
}
.routePage{
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    height:10vh;
    width:40vw;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    width:100%;
    align-items: center;
    
    font-size: 1.5em;
}
a{
    color:#ffffff;
}